.review{
	height:80%;
}
#reviewCard{
	border-radius:6px;
}
.nameReview{
	font-size: 25px;
	font-weight: bold;
	float:left;
}
.cityReview{
	clear: both;
}
#starRatingOn{
	font-size: 20px;
	color: rgb(200, 100, 100);
}
#provideRating{
	width: 90%;
	margin: auto;
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
.reviewReview{
	overflow-x:hidden;
	text-indent: 10px;
	min-height: 20px;
}
#reviewButton{
	width:16%;
	position:absolute;
	bottom:16%;
	right:10%;
	border-radius:100%;
}


/* Adnan */

.review ion-content {
	padding: 10px 50px;
	border: 1px solid #3d3d3d;
	border-radius: 25px;
	top: 65px;
	height: 90%;
}

.review .card {
	border: 1px solid #3d3d3d;
	border-radius: 10px;
}

.review .card .nameReview {
	color: black;
}

#reviewButton{
	width: 100px;
	height: 100px;
	position:absolute;
	bottom:1%;
	right:5%;
	border-radius:50%;
}

#reviewButton:before {
	font-size: 35px;
}

#reviewButton > span {
	display: block;
	margin-top:-10px;
}

.reviewPopUp .popup {
	min-width: 500px !important;
	margin-left: 25%;
}

.reviewPopUp-body div label {
	border-radius: 5px;
}

.reviewPopUp-body div label textarea {
	min-height: 100px;
}