.review{
	height:80%;
}
#reviewCard{
	border-radius:6px;
}
.nameReview{
	font-size: 25px;
	font-weight: bold;
	float:left;
}
.cityReview{
	clear: both;
}
#starRatingOn{
	font-size: 20px;
	color: rgb(200, 100, 100);
}
#provideRating{
	width: 90%;
	margin: auto;
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}
.reviewReview{
	overflow-x:hidden;
	text-indent: 10px;
	min-height: 20px;
}
#reviewButton{
	width:16%;
	position:absolute;
	bottom:16%;
	right:10%;
	border-radius:100%;
}