/*//;my css*/

.fabFeed{
	height:80%;
}
.profileFabImage{
	width:20%;
	height:20%;
	border:4px solid #ff8888;
	border-radius:50%;
}
.profileFabPosts{
	width:10%;
	height:10%;
	border:2px solid #ff8888;
	border-radius:50%;
	float: left;
}
.postData{
	float: left;
}

.buttonFollow{
	font-size: 13px;
}
.hashesPosts{
	text-indent:10%;
}

.postImage{
	width: 100%;
	height:50%;
}

/*my css ends*/

.fabFeed .feeds{
	padding:10px;
	background-color:#d9d9d9;
}

.fabFeed .feed-name {
	font-size:1.2em;
	font-weight:500;
}
.fabFeed .feed-title {
	font-size:1.1em;
	font-weight:400;
}

.fabFeed .feed-img {
	width:100%;
	height:auto;
	border:1px solid #000;
	border-radius:5px;
}

.fabFeed .feed-introduction {
	font-size:1em;
	font-weight:400;
	margin: 10px;
}
.fabFeed .likeFeed {
	margin:10px;
	font-size:1em;
}

.fabFeed .likeFeed i{
	font-size:1em;
	margin:10px;
}

.fabFeed .liked-heart{
	color: #FF8386;
}

.fabFeed .normal-heart{
	color: #e6e6e6;
}
